
@{
    Layout = "~/Views/Shared/SummaryLayout.cshtml";


}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>QuizSummary</title>
</head>
<body>
    <h2 id="body_cap"> Ваши ответы </h2>
    <div class="summary">
        @using (Html.BeginForm("QuizSummary", "Home", FormMethod.Get))
        {
        foreach (var c in ViewBag.Vals)
        {

            <p>@c.Question</p>
            <p>@c.UserAnswer</p>


        }
            <input type="submit" name="submit" value="Подтвердить">
        }
    </div>
</body>
</html>
